:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cv {
  white-space: pre-line;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content repeat(2, 1fr);
  gap: 2rem;
  justify-content: center;
}
.cv h2, h3, h4, h5, h1 {
  margin: 0;
}
.cv h2 {
  font-size: 1.5rem;
 
}
.cv h3 {
  font-size: 1.3rem;
}
.cv h4 {
  font-size: 1.1rem;

}
.cv h5 {
  font-size: .9rem;
}

.contacts {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  justify-content: center;
  justify-items: center;
  gap: 0;
}

.dates {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 1rem;
}

textarea {
  width: 100%;
  max-width: 60%; 
  margin-bottom: 2rem;
}
.textarea {
  grid-column: 1/ -1;
}
.responsibilities {
  margin-left: 2rem;
}

.tab {
  margin-left: 4rem;

}